.form{
  width: 100%;
  max-width: 334px;
  padding: 25px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  gap:18px;
  border-radius: 4px;
  border: 2px solid black;
  position: absolute;
  z-index: 3;
  background-color: aliceblue;
}

.vector{
  width: 16px;
  height: 16px;
  position: absolute;
  right: 20px;
  top:15px;

}