.cardContainer{
  width: 335px;
  height: 234px;
  border: 2px solid black;
  border-radius: 4px;
  position: relative;
}

.textContainer{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.titleCont{
  width: 321px;
  height: 60px;
  overflow: hidden;
}

.image{
  width: 100%;
  height: 147px;
}

.pen{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.link{
  position: absolute;
  bottom: 23px;
  right: 10px;
}