.navContainer{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #FF6868;
  padding: 5px 20px 5px 20px;
}

.burguer{
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.paws{
  width: 40px;
  height: 35px;
}

.cross{
  position: absolute;
  right:20px;
  top:20px;
  width: 40px;
  height: 40px;
}

.link{
  text-decoration: none;
}

.displayedNavBar{
  height: 100vh;
  width: 100%;
  background-color: #FF6868;
  position: absolute;
  padding: 0;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  z-index: 4;
}